<div class="table table-left">
    <section>
      <h2 class="table-heading">Labtek Indie's Project</h2>
      <table class="data">
        <caption>
          <p>Contoh aja </p>
        </caption>
        <thead>
          <tr>
            <th scope="col">Start</th>
            <th scope="col">End</th>
            <th scope="col">Event</th>
            <th scope="col">Description</th>
            <th scope="col">Link</th>
            <th scope="col">Photo</th>
            <th scope="col">Credit</th>
          </tr>
        </thead>
        <tbody>
            <tr>
                <td>2 May 2017</td>
                <td>19 June 2017</td>
                <td>P. Etniqita Web-App</td>
                <td>Henry VIII sent Cardinal Wolsey to meet with Pope Clement VII, 
hoping the pontiff would grant the ruler an annulment of his marriage to Catherine 
of Aragon. When the pope extended his bare toe to be kissed (as was the custom) by Wolsey, the
Cardinal's dog, Urian, sprang forward and bit the pope.</td>
                <td></td>
                <td><img alt="#" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/9353/300-8.png"></td>
                <td>http://placedog.com/</td>
            </tr>
            <tr>
                <td>15 May 2017</td>
                <td>24 July 2017</td>
                <td>P. Ultra Interactive Wall</td>
                <td>In 1306, when Edward I of England sought to bring down Robert the 
Bruce (and his ploy to rule Scotland), his men used Robert's own dog, Donnchadh, to find him.</td>
                <td></td>
                <td><img alt="#" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/9353/300-7.png"></td>
                <td>http://placedog.com/</td>
            </tr>
            <tr>
                <td>22 May 2017</td>
                <td>18 August 2017</td>
                <td>Nixon professes love for Checkers</td>
                <td>In his 1952 "Checkers speech," Richard Nixon -- then a candidate 
for vice president who was accused of pawing $18,000 in illegal campaign contributions 
-- admitted to accepting an American cocker spaniel, Checkers, as a gift. </td>
                <td></td>
                <td><img alt="#" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/9353/300-5.png"></td>
                <td>http://placedog.com/</td>
            </tr>
            <tr>
                <td>7 June 2017</td>
                <td>8 August 2017</td>
                <td>P. NoBackend</td>
                <td>Without Peps, composer Richard Wagner's Cavalier King Charles spaniel, 
that helicopter scene in the film "Apocalypse Now" (scored to "The Ride of the Valkyries") 
might sound very different. Wagner would have Peps sit on a special chair as he
played his latest compositions and, based upon the dog's reactions, he'd keep or toss each passage.</td>
                <td></td>
                <td><img alt="#" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/9353/300-6.png"></td>
                <td>http://placedog.com/</td>
            </tr>
            <tr>
                <td>13 June 2017</td>
                <td>31 August 2017</td>
                <td>P. Sinarmas APP</td>
                <td>13 June 2017    : Sprint Planning Meeting
14 June 2017    : Design Sprint 1 Start
20 June 2017    : Design Sprint 2 Start
due to money issue, projects pending to 2 weeks after
10 July 2017    : 
                </td>
                <td></td>
                <td><img alt="#" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/9353/300-4.png"></td>
                <td>http://placedog.com/</td>
            </tr>
            <tr>
                <td>5 July 2017</td>
                <td>8 August 2017</td>
                <td>P. Tromarama</td>
                <td>5 July 2017 : Scrumban day 1 
19 July 2017  : Scrumban day 14
8 August 2017 : Final Client presentation
                </td>
                <td></td>
                <td><img alt="#" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/9353/300-3.png"></td>
                <td>http://placedog.com/</td>
            </tr>
            <tr>
                <td>14 July 2017</td>
                <td>14 July 2017</td>
                <td>P. Maintenance Museum Astra</td>
                <td>Dalam meeting ini, akan dilakukan meeting untuk menjelaskan scope pekerjaan yang 
akan dilalui oleh scrumban team untuk project maintenance museum astra ini</td>
                <td></td>
                <td><img alt="#" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/9353/300-1.png"></td>
                <td>http://placedog.com/</td>
            </tr>  
            <tr>
                <td>17 July 2017</td>
                <td>19 July 2017</td>
                <td>P. Urate</td>
                <td>Design Sprint ini bertujuan untuk mengerjakan frontend yang telah di-desain di 
fase sebelumnya. End-result dari proses ini adalah working prototype dalam bentuk 
interaktif frontend yang dapat dibuka melalui browser. </td>
                <td></td>
                <td><img alt="#" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/9353/300.png"></td>
                <td>http://placedog.com/</td>
            </tr>
            <tr>
                <td>17 July 2017</td>
                <td>8 August 2017</td>
                <td>P. Maintenance Museum Astra</td>
                <td>scrumban planning meeting dilakukan pada tanggal 17 July 2017, berfungsi untuk melakukan 
koordinasi terhadap task dan timeline pengerjaan untuk project museum ini
Proses scrumban untuk project ini berlangsung selama 10 hari kerja. 
Tidak termasuk di dalamnya untuk upload konten ke dalam instalasi di lokasi.
                </td>
                <td></td>
                <td><img alt="#" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/9353/300-2.png"></td>
                <td>http://placedog.com/</td>
            </tr>
        </tbody>
      </table>
  
    </section>
  </div>